<!DOCTYPE html>
<html {DEFAULT_THEME} lang="{DEFAULT_LANG}">
	<head>
		<title>Error - The Sirio Articles</title>
		<!-- Misc-->
		<meta charset="utf-8"/>
		<meta name="viewport" content="height=device-height, width=device-width, initial-scale=0.75"/>
		<meta name="robots" content="noindex,nofollow">
		<!-- External -->
		<link rel="stylesheet" href="{SOURCE_CSS}">
		<!-- SNJS / Webpage Arguments -->
		<script>const Awaited_Objects = ["SNJS_Navigation"];</script>
		<script type="module" src="{SOURCE_JS}"></script>
	</head>
	<body>
		<div id="Background"></div>
		<div id="Floating"></div>
		<div id="Root">
			<div id="Base">
			<code>
				{EXCEPTION}
			</code>
		</div>
	</body>
</html>